@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-bar {
        animation: bar-bounce 1s infinite ease-in-out alternate;
    }

    .delay-100 {
        animation-delay: 0.1s;
    }

    .delay-200 {
        animation-delay: 0.2s;
    }

    .delay-300 {
        animation-delay: 0.3s;
    }
}

@keyframes bar-bounce {
    0% {
        height: 8px;
        opacity: 0.3;
    }

    100% {
        height: 32px;
        opacity: 1;
    }
}